.details {
	width: var(--details-width);
	height: var(--details-height);
	margin: var(--details-margin);
	border: var(--details-border) solid black;
	padding: var(--details-padding);

	background-color: #ddd;

	// default behavior
	display: none;
	overflow: hidden;

	dt, h1, h2, h3, h4, h5, h6 {
		display: none;
	}

	> * {
		margin-top: 0;
		margin-bottom: 0;
	}

	.contain-reception,
	.contain-trailor {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.contain-reception {
		float: right;
	}

	.show-tagline {
		float: left;
		width: fit-content;
		padding-right: 1rem;
	}

	.show-trailer dd {
		width:   var(--trailer-width);
		height:  var(--trailer-height);
		margin:  var(--trailer-margin);
		border:  var(--trailer-border);
		padding: var(--trailer-padding);
	}
}

.activated.movie .details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
