// A Movie Item starts with an article tag.
article.movie {
	width:   var(--movie-width);
	height:  var(--movie-height);
	margin:  var(--movie-margin);
	border:  var(--movie-border) solid black;
	padding: var(--movie-padding);

	background-color:bisque;

	// More flexbox container settings for poster and info
	display: flex;
	flex-direction: row-reverse;

	// style the poster
	.poster {
		order: 1;
	}

	// style title-button
	.title {
		width:   var(--title-width);
		height:  var(--title-height);
		margin:  var(--title-margin);
		border:  var(--title-border) solid black;
		padding: var(--title-padding);

		// text style
		writing-mode: vertical-rl;
		text-orientation: mixed;

		// activate button when parent is clicked.
		// button
	}
}


	// .title button {
	// 	cursor: pointer;
	// 	user-select: none;

	// 	.drawer {
	// 		user-select: none;
	// 		overflow: hidden;
	// 		width: 0;
	// 	}

	// 	&:hover {
	// 		background-color: white;
	// 	}

	// 	&:hover .drawer {
	// 		width: fit-content;
	// 	}
	// }

	// &.activated .title.button {
	// 	.drawer {
	// 		width: 0;
	// 	}
	// }
