// A Movie Item starts with an article tag.
article.movie {
	padding: 0.5rem;
	border: 2px solid #777;
	background-color: #DDD;
	border-radius: 1rem;

	// More flexbox container settings for poster and info
	display: flex;
	justify-content: start;
	flex-direction: row-reverse;

	// style title-button
	.title {
		width: 6rem;
		height: 100%;

		// text style
		writing-mode: vertical-rl;
		text-orientation: mixed;

		// other properties
		background-color: #888;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;

		h2 {
			margin: 0;
		}

		p {
			font-style: inherit;
			margin: 0;
			padding: 0.5rem;
		}

		&:hover,
		&:focus {
			background-color: #AAA
		}

		&:active {
			background-color: #666
		}
	}

	// style the poster
	.poster {
		order: 1;
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;
	}
}


article.movie.activated {
	grid-column: span 2;
}
