// A Movie Item starts with an article tag.
article.movie {
	width:   var(--movie-width);
	height:  var(--movie-height);
	margin:  var(--movie-margin);
	border:  var(--movie-border) solid black;
	padding: var(--movie-padding);
	border-radius: 1rem;

	background-color:#AAA;

	// More flexbox container settings for poster and info
	display: flex;
	flex-direction: row-reverse;

	// style title-button
	.title {
		width:   var(--title-width);
		height:  var(--title-height);
		margin:  var(--title-margin);
		border:  var(--title-border) solid black;
		padding: var(--title-padding);

		// text style
		writing-mode: vertical-rl;
		text-orientation: mixed;

		// other properties
		background-color: #888;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;

		h2 {
			margin: 0;
		}

		p {
			font-style: inherit;
			margin: 0;
			padding: 0.5rem;
		}

		&:hover,
		&:focus {
			background-color: #AAA
		}

		&:active {
			background-color: #666
		}
	}

	// style the poster
	.poster {
		order: 1;
	}
}
