{{!-- Review Gallery --}}
{{!-- Goals:
	- Show a list of reviews for a particular movie.
		- Reviews can come from the database
		- Reviews can also come from the api
	- Allow user to click on a review to show in detail.
--}}
{{!-- Variables:
	review: the review in question.
	movie: the movie to use.
	config: api config information.
--}}


<div class='review-gallery'>
	<div class='top'>
		<h3>Reviews</h3>
		<a
			href='/reviews/new?apiMovieId={{movie.ids.api}}'
			class='button'
		>
			Write Review
		</a>
	</div>

	{{#each movie.reviews as |review|}}
		{{> review-card
			review=review
			movie=../movie
		}}
	{{/each}}

</div>
