@use 'styles';
@use 'variables';

article.movie section.details {
	overflow: hidden;
	height: var(--details-height);

	dl {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	dt, h1, h2, h3, h4, h5, h6 {
		display: none;
	}

	.trailer dd {
		height: var(--trailer-height);
	}

	> * {
		margin-top: 0;
		margin-bottom: 0;
	}

	.first-look {
		float: left;
		width: 100%;

		.polling {
			@extend .pill-tag;
			float: right;
			padding: 0.5em;
			margin: 0;
			margin-left: 0.5em;
		}
		.tagline {
			font-family: 'Yanone Kaffeesatz', sans-serif;
			font-weight: 600;
			font-size: 2em;
			line-height: 1.2em;
			margin-right: 0.3em;
			float: left;
		}
		.overview {
			display: inline;
		}
	}

	.factoids {
		dt {
			display: initial;
		}
	}
}
