.details {
	width: var(--details-width);
	height: var(--details-height);
	margin: var(--details-margin);
	border: var(--details-border) solid black;
	padding: var(--details-padding);

	background-color: #ddd;

	// default behavior
	display: none;
	overflow: hidden;

	dl {
		// height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	dt, h1, h2, h3, h4, h5, h6 {
		display: none;
	}

	> * {
		margin-top: 0;
		margin-bottom: 0;
	}

	.show-trailer dd {
		width: var(--trailer-width);
		height: var(--trailer-height);
		margin: var(--trailer-margin);
		border: var(--trailer-border);
		padding: var(--trailer-padding);
	}
}

.activated .details {
	// flex content
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
