// A Movie Item starts with an article tag.
article.movie {
	// More flexbox container settings for poster and info
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-items: stretch;
	background-color: gainsboro;
	padding: 2em;
	margin: 1em;
	border: 0.25em solid darkgrey;
	border-radius: 2em;

	// Poster already has styling from styles.css

	// Info still needs styling
	> .movie-info {
		width: fit-content;

		// Even more flex settings for title and details
		display: flex;
		flex-direction: row-reverse;
		align-items: stretch;
		justify-items: stretch;

		// Title
		> .movie-title {
			writing-mode: vertical-rl;
			text-orientation: mixed;
			width: 68px;
			margin: 0;
		}

		// Details
		> .movie-details {
			margin: 0;
			width: 0;
			overflow: hidden;

			> section {
				position: relative;
				width: 668px;
				margin-left: 16px;
				margin-right: 16px;
			}
		}

		// Control area
		> .control-area {
			width: 0;
			overflow: hidden;

			> input {
				width: 100%;
				height: 100%;
			}
		}

		&:hover > .control-area {
			width: 60px;
		}
	}

	&.activated .movie-info {
		// Activated details
		> .movie-details {
			width: 700px;
		}

		// Activated control area
		> .control-area {
			width: 0;
		}
	}
}
