// A Movie Item starts with an article tag.
article.movie {
	// More flexbox container settings for poster and info
	display: flex;
	flex-direction: row-reverse;
	width: fit-content;
	height: 750px;

	// style title-button
	.title {
		writing-mode: vertical-rl;
		text-orientation: mixed;
		> *:first-child {
			margin-right: 0;
		}
		> *:last-child {
			margin-left: 0;
		}
	}
	.title.button {
		cursor: pointer;
		user-select: none;
		.drawer {
			user-select: none;
			overflow: hidden;
			width: 0;
		}
		&:hover .drawer {
			width: fit-content;
		}
	}
	&.activated .title.button {
		.drawer {
			width: 0;
		}
	}

	// modify movie poster order so it appears on the left.
	.poster {
		order: 1;
	}

	// this details element encapsulates another partial.
	.details {
		width: 0;
		overflow: hidden;
	}
	&.activated .details {
		width: 700px;
	}
}
