@use 'styles';

article.movie .details section {
	display: flex;
	flex-direction: column;

	dt, h1, h2, h3, h4, h5, h6 {
		display: none;
	}

	> * {
		margin-top: 0;
		margin-bottom: 0;
	}

	.first-look {
		float: left;
		width: 100%;
		.polling {
			@extend .pill;
			float: right;
			padding: 0.5em;
			margin: 0;
			margin-left: 0.5em;
		}
		.tagline {
			font-family: 'Yanone Kaffeesatz', sans-serif;
			font-weight: 600;
			font-size: 2em;
			line-height: 1.2em;
			margin-right: 0.3em;
			float: left;
		}
		.overview {
			display: inline;
		}
	}

	.genres {
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		dd {
			@extend .pill;
		}
	}
}
