// SET FLEXBOX LAYOUT FOR THE LIST
.movies-index ul.movies-list {
	// override ul behavior
	list-style-type: none;
	margin: inherit;
	padding: inherit;

	// flexbox container settings
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

// DEFINE PARENT LI (MINIMAL)
.movies-index ul.movies-list > li {
	// dimensions
	width: fit-content;
	height: fit-content;

}

// SET SECOND FLEX LAYOUT FOR EACH LIST ITEM
.movies-index article.movie-info {
	// children must follow the structure
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-items: stretch;
}

// MOVIE POSTER
.movies-index article.movie-info > .movie-poster {
	// position attributes
	position: relative;
	width: 500px;
	height: 750px;

	// other
	object-fit: cover;
	overflow: hidden;
	pointer-events: auto;
}

.movies-index article.movie-info > .movie-poster * {
	transition: all 500ms ease;
}

.movies-index article.movie-info > .movie-poster img {
	// position attributes
	position: absolute;
	min-width: 500px;
	min-height: 750px;
	inset: -100%;
	margin: auto;

	// other
	pointer-events: none;
}

.movies-index article.movie-info > .movie-poster:hover img {
	filter: blur(4px) brightness(80%);
}

.movies-index article.movie-info > .movie-poster:hover p.more-info {
	opacity: 100%;
	filter: blur(0);
}

// CONTENT
.movies-index article.movie-info > .movie-content {
	width: fit-content;
	background-color: orange;

	// flexbox
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
	justify-items: stretch;
}

.movies-index article.movie-info > .movie-content * {
	transition: all 500ms ease;
}

.movies-index article.movie-info > .movie-content .movie-title {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	margin: 0;
}

.movies-index article.movie-info > .movie-content .movie-details {
	width: 0;
	overflow: hidden;
}

.movies-index article.movie-info > .movie-content .movie-details section {
	min-width: 700px;
	height: 100%;
}

.movies-index article.movie-info > .movie-content:hover .movie-details {
	width: 68px;
}
