:root {
	--trailer-width: 640px;
	--trailer-height: 360px;

	--poster-width: 500px;
	--poster-height: 750px;
	--poster-border: 0em;

	--movie-width: calc(
		var(--poster-width)
		+ var(--poster-border) * 2
		+ var(--trailer-width)
	);
	--movie-height: calc(
		var(--poster-height)
		+ var(--poster-border) * 2
	);
	--movie-border: 1em;

	--details-width: var(--trailer-width);
	--details-height: calc(
		var(--poster-height)
		+ var(--poster-border) * 2
	);

	--title-width: 2em;
	--title-height: calc(
		var(--poster-height)
		+ var(--poster-border) * 2
	);
}
