<form class='new-comment'>

	{{!-- Hidden Identifier --}}
	<input
		type='hidden'
		class='form-control'
		name='reviewId'
		value='{{review._id}}'
	/>

	{{!-- Comment-Creator Block --}}
	<div class='form-group'>
		<label for='content'>
			Leave a Comment
		</label>

		<br />

		<textarea
			class='form-control'
			name='content'
			rows='5'
			placeholder='Your comment...'
		/></textarea>
	</div>

	{{!-- Submit Button --}}
	<div class='form-group'>
		<input
			type='submit'
			class='btn btn-primary'
			value='Create'
		/>
	</div>

</form>
