<div>

	{{!-- Content Block --}}
	{{#if this.content}}
		<p>{{this.content}}</p>
	{{else}}
		<p><em>This is an empty comment.</em></p>
	{{/if}}

	{{!-- Delete Link --}}
	<button
		class='button'
		data-comment-id='{{this._id}}'
	>
		Delete
	</button>

</div>
