<form class='new-comment'>
	{{!-- Comment-Creator Block --}}
	<div class='form-group'>
		<label for='content'>
			Leave a Comment
		</label>

		<br />

		<textarea
			class='form-control'
			name='content'
			rows='5'
			placeholder='Your comment...'
		/></textarea>
	</div>

	{{!-- Submit Button --}}
	<div class='form-group'>
		<button
			type='submit'
			class='button'
		>
			Submit
		</button>
	</div>

	{{!-- Hidden Identifier --}}
	{{#if review.api_id}}
	<input
		type='hidden'
		class='form-control'
		name='api_review_id'
		value='{{review.api_id}}'
	hidden />

	{{else if review.db_id}}

	<input
		type='hidden'
		class='form-control'
		name='db_review_id'
		value='{{review.db_id}}'
	hidden />
	{{/if}}


</form>
