<div>

	{{!-- Content Block --}}
	{{#if comment.content}}
		<p>{{comment.content}}</p>
	{{else}}
		<p><em>This is an empty comment.</em></p>
	{{/if}}

	{{!-- Delete Link --}}
	<form><button
		class='button'
		type='submit'
		formmethod='POST'
		formaction='/comments/{{comment._id}}?_method=DELETE'
	>
		Delete
	</button></form>

</div>
