<div class='card-block form-group'>

	{{!-- Content Block --}}
	{{#if this.content}}
		<p class='card-text'>
			{{this.content}}
		</p>
	{{else}}
		<p>
			<em>
				This is an empty comment.
			</em>
		</p>
	{{/if}}

	{{!-- Delete Link --}}
	<input
		type='button'
		value='Delete'
		class='btn delete-comment-button'
		data-comment-id='{{this._id}}'
	/>

</div>
