<!--
	Movie Card
	views/partials/movie-card.hbs
--->

<!--
	Variables:
	- movie (a parsed movie object)
--->

<article
	class='movie {{#if complete}}complete{{/if}}'
	data-movie-id='{{movie.ids.api}}'
>

	<div>
		<h2>{{movie.title}}</h2>
		{{#if movie.originalTitle}}
			<p>{{movie.originalTitle}}</p>
		{{/if}}
	</div>

	<picture>
		<img src={{movie.posters.[0].sizes.[3].urls.main}} />
	</picture>

	{{> movie-card/details}}

	{{#if complete}}
	{{> movie-card/trivia}}

	{{> movie-card/list-media}}

	{{> review-gallery}}
	{{/if}}

</article>
