<!--
	Movie Card
	views/partials/movie-card.hbs
--->

<!--
	Variables:
	- movie (a parsed movie object)
--->

<article
	class='movie {{#if complete}}complete{{/if}}'
	data-movie-id='{{movie.ids.api}}'
>

	<div>
		<h2>{{movie.title}}</h2>
		{{#if movie.originalTitle}}
			<p>{{movie.originalTitle}}</p>
		{{/if}}
	</div>

	<picture>
		<img src={{movie.posters.[0].sizes.[3].urls.main}} />
	</picture>

	<section>
		<h3>Movie Details</h3>
		{{!-- Public Reception --}}
		{{> movie-card/ratings-summary}}
		{{!-- Overview --}}
		{{> movie-card/plot-overview}}
		{{!-- Factoids --}}
		{{> movie-card/list-factoids}}
		{{!-- Genres --}}
		{{> movie-card/list-genres}}
		{{!-- Main Trailer --}}
		{{> movie-card/feature-video}}
	</section>


	{{#if complete}}
	{{> movie-card/trivia}}

	{{> movie-card/list-media}}

	{{> review-gallery}}
	{{/if}}

</article>
