{{!--
	movie: the movie to use.
	config: api config information.
	complete: whether details info are complete.
--}}

<article
	class='movie {{#if complete}}complete{{/if}}'
	data-movie-id='{{movie.api_id}}'
>

	{{> movie-card/title-bar}}

	{{#if complete}}
	{{> components/poster
		anchor=''
		poster_path=movie.featured_poster_path
		image_config=config.images
	}}
	{{else}}
	{{> components/poster
		anchor_path=(join '/movies/' movie.api_id)
		poster_path=movie.featured_poster_path
		image_config=config.images
	}}
	{{/if}}

	{{> movie-card/details}}

	{{#if complete}}
	{{!-- {{> components/ratings-histogram}} --}}
	<div class='reviews'>
		<h2>Reviews</h2>
		<a
			href='/reviews/new?movieId={{movie.api_id}}'
			class='btn btn-primary'
		>
			Write Review
		</a>

		{{!-- {{log movie.opinions.all.ratings.histogram}} --}}

		{{#each movie.opinions.all.reviews.entries as |review|}}
			{{> review-item review=review}}
		{{/each}}
	</div>
	{{/if}}

</article>
