<section>
	<h3>Movie Details</h3>

	{{!-- tagline --}}
	<dl class='tagline'>
		<dt>Tagline</dt>
		<dd>
			<span class='data-tagline'><em>Loading...</em></span>
		</dd>
	</dl>

	{{!-- genres --}}
	<dl class='genres'>
		<dt>Genres</dt>
		<div class='data-genres'>
			<dd><em>Loading...</em></dd>
		</div>
	</dl>

	{{!-- overview --}}
	<dl class='overview'>
		<dt>Overview</dt>
		<dd><span class='data-overview'><em>Loading...</em></span></dd>
	</dl>

	{{!-- trailer --}}
	<dl class='trailer'>
		<dt>Trailer</dt>
		<dd><span class='data-trailer'><em>Loading...</em></span></dd>
	</dl>

	<aside>
		{{!-- ratings and reviews--}}
		<dl class='rating'>
			<dt>Rating</dt>
			<dd>
				<span class='data-rating-meter'>
					<meter
						min='0'
						max='5'
						optimum='5'
						value='0'
					></meter>
				</span>
			</dd>
			<dd><span class='data-rating'><em>Loading...</em></span></dd>
		</dl>

		<dl class='num-votes'>
			<dt># Ratings</dt>
			<dd><span class='data-num-votes'><em>Loading...</em></span></dd>
		</dl>

		<dl class='num-reviews'>
			<dt># Reviews</dt>
			<dd><span class='data-num-reviews'><em>Loading...</em></span></dd>
		</dl>

		{{!-- release date --}}
		<dl class='release-date'>
			<dt>Release Date</dt>
			<dd><span class='data-release-date'><em>Loading...</em></span></dd>
		</dl>

		{{!-- runtime --}}
		<dl class='runtime'>
			<dt>Runtime</dt>
			<dd><span class='data-runtime'><em>Loading...</em></span></dd>
		</dl>

	</aside>
</section>
