<h2>Examples of movie posters</h2>

<h3>Poster without an image</h3>
<div class='poster'></div>

<h3>Poster without valid image</h3>
<div class='poster'>
	<img src='https://aaaaaaaaaaasfjkafj/aaa/bbb/cc/as/df/d/j;' />
</div>

<h3>Poster with an image that is too small</h3>
<div class='poster'>
	<img src='https://dl3.cbsistatic.com/catalog/2019/03/25/683d0991-a9de-44f9-b4b2-66919ce3cb22/imgingest-5944355799384304872.png' />
</div>

<h3>Poster with an image that is too large</h3>
<div class='poster'>
	<img src='https://wallpaperaccess.com/full/329583.jpg' />
</div>

<h3>Valid Poster with a blur-link</h3>
<a class='blur-link poster' href='./'>
	<img src='https://wallpaperaccess.com/full/329583.jpg' />
	<p class='more-info'>More Info</p>
</a>


<h2>Examples of unordered list</h2>

<h3>Standard definition list</h3>
<ul>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
</ul>

<h3>Inline definition list</h3>
<ul class='inline-list'>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
</ul>

<h3>Inline definition list (commas)</h3>
<ul class='comma-deliminated inline-list'>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
</ul>

<h3>Inline definition list (lines)</h3>
<ul class='line-seperated inline-list'>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
	<li>List Item</li>
</ul>


<h2>Examples of definition lists</h2>

<h3>Standard definition list</h3>
<dl>
	<div>
		<dt>Zero Definitions</dt>
	</div>

	<div>
		<dt>One Definition</dt>
		<dd>One</dd>
	</div>

	<div>
		<dt>Two Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
	</div>

	<div>
		<dt>Three Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
		<dd>Three</dd>
	</div>
</dl>


<h3>Inline definition list</h3>
<dl class='inline-list'>
	<div>
		<dt>Zero Definitions</dt>
	</div>

	<div>
		<dt>One Definition</dt>
		<dd>One</dd>
	</div>

	<div>
		<dt>Two Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
	</div>

	<div>
		<dt>Three Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
		<dd>Three</dd>
	</div>
</dl>


<h3>Inline definition list (commas)</h3>
<dl class='comma-deliminated inline-list'>
	<div>
		<dt>Zero Definitions</dt>
	</div>

	<div>
		<dt>One Definition</dt>
		<dd>One</dd>
	</div>

	<div>
		<dt>Two Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
	</div>

	<div>
		<dt>Three Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
		<dd>Three</dd>
	</div>
</dl>


<h3>Inline definition list (lines)</h3>
<dl class='line-seperated inline-list'>
	<div>
		<dt>Zero Definitions</dt>
	</div>

	<div>
		<dt>One Definition</dt>
		<dd>One</dd>
	</div>

	<div>
		<dt>Two Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
	</div>

	<div>
		<dt>Three Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
		<dd>Three</dd>
	</div>
</dl>


<h3>Inline definition list (lines & commas)</h3>
<dl class='comma-deliminated line-seperated inline-list'>
	<div>
		<dt>Zero Definitions</dt>
	</div>

	<div>
		<dt>One Definition</dt>
		<dd>One</dd>
	</div>

	<div>
		<dt>Two Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
	</div>

	<div>
		<dt>Three Definitions</dt>
		<dd>One</dd>
		<dd>Two</dd>
		<dd>Three</dd>
	</div>
</dl>
