<!-- views/layouts/main.handlebars -->

<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>
			Rotten Potatoes
		</title>

		<link
			rel='stylesheet'
			href='css/movies-index.css'
		/>
	</head>

	<body>
		{{!-- Every partial must have a navbar. --}}
		{{> navbar}}

		{{!-- This contains all other page information. --}}
		<div>
			{{{body}}}
		</div>
	</body>
</html>
