{{!-- Main Trailer --}}
<dl class='contain-trailer'>

	{{#if movie.featured_video_path}}
		<div class='show-trailer'>
			<dt>Trailer</dt>
			<dd><iframe
				width = '560'
				height = '315'
				src = '{{movie.featured_video_path}}'
				title = 'YouTube video player'
				frameborder = '0'
				allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
				allowfullscreen = 'true'
			></iframe></dd>
		</div>
	{{/if}}

</dl>
