<h2>Reviews</h2>
<table class="table">
	<thead>
		<tr>
			<th scope="col">_id</th>
			<th scope="col">Title</th>
			<th scope="col">Description</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		{{#each reviews}}
			<tr>
				<th scope="row">{{this._id}}</th>
				<td>{{this.title}}</td>
				<td>{{this.description}}</td>
				<td>
					<form method="POST" action="/reviews/{{this._id}}?_method=DELETE">
						<button type="submit" class="btn" href="#" id="deleteReview" data-review-id=${this._id}>Delete</button>
						<input type="hidden" value="true" name="admin"/>
					</form>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>