<!--
	The Landing Page
	views/home.hbs
--->

<!--
	Goals:
	- Describe site purpose
	- Display quick movie navigation
	- Display advanced movie search options
	- Display other collections (like reviews)
--->

<div>
	<h1>Rotten Potatoes</h1>

	{{!-- list of movies-index option links --}}
	<ul class='gallery-grid'>
		<li>
			<a href='/movies?sortBy=now-playing'>
				<p>Now Playing</p>
			</a>
		</li>

		<li>
			<a href='/movies?sortBy=popular'>
				<p>Popular</p>
			</a>
		</li>

		<li>
			<a href='/movies?sortBy=top-rated'>
				<p>Top-Rated</p>
			</a>
		</li>

		<li>
			<a href='/movies?sortBy=upcoming'>
				<p>Upcoming</p>
			</a>
		</li>
	</ul>

	{{!-- provide advanced search features to movies-index --}}
	{{!-- ...scope for later iteration --}}

	{{!-- link to other secondary collections (like reviews) --}}
	{{!-- ...scope for later iteration --}}

</div>
