<div class='homepage'>
	<h1>Rotten Potatoes</h1>
	<a
		class='button'
		href='/movies?show=now-playing'
	>
		Now Playing
	</a>

	<br />

	<a
		class='button'
		href='/movies?show=popular'
	>
		Popular
	</a>

	<br />

	<a
		class='button'
		href='/movies?show=top-rated'
	>
		Top-Rated
	</a>

	<br />

	<a
		class='button'
		href='/movies?show=upcoming'
	>
		Upcoming
	</a>
</div>
