<div class='homepage'>
	<h1>Rotten Potatoes</h1>
	<ul>
		<li><a
			class='button'
			href='/movies?show=now-playing'
		>
			Now Playing
		</a></li>

		<li><a
			class='button'
			href='/movies?show=popular'
		>
			Popular
		</a></li>

		<li><a
			class='button'
			href='/movies?show=top-rated'
		>
			Top-Rated
		</a></li>

		<li><a
			class='button'
			href='/movies?show=upcoming'
		>
			Upcoming
		</a></li>
	</ul>
</div>


{{> styling}}
