{{!-- Movies Index --}}
{{!-- Goals:
	- Describe movies list search & sort parameters
	- List a gallery-grid of movies
	- Allow toggled state of movie-cards:
		- collapsed (default)
		- expanded
--}}
{{!-- Variables:
	- moviesList: an object of movie data, including results.
	- config: api config information.
	- selection: user input string.
--}}

<link
	rel='stylesheet'
	href='/css/partials/movie-card.css'
/>

<div class='movies-index'>

	<h1>{{selection}}</h1>

	<div class='gallery-grid'>
		{{#each movieList.results as |movie|}}
		{{> movie-card-summary movie=movie config=../config}}
		{{/each}}
	</div>

</div>

<script
	type='text/javascript'
	src='/js/pages/movies-index.js'
></script>
