{{!--
	movie: the movie to use.
	config: api config information.

--}}

<link
	rel='stylesheet'
	href='/css/partials/movie-card.css'
/>

<link
	rel='stylesheet'
	href='/css/partials/review-item.css'
/>

<div class='movies-show'>
	<h1>Movie Details</h1>
	<div class='movies-list'>

		{{> movie-card-complete
			movie=movie
			config=config
			complete=true
		}}

	</div>
</div>

{{!--
<pre><code>{{json movie}}</code></pre>
<pre><code>{{json config}}</code></pre>
--}}
