<h1>
	{{movie.title}}
</h1>
{{> movies-index/movie-details movie=movie}}

<a
	href='/reviews/new?movieId={{movie.id}}'
	class='btn btn-primary'
>
	Write Review
</a>


<div>
	{{#each movie.videos.results}}
		{{#if @first}}
			<div>
				{{!-- <iframe
					class='embed-responsive-item'
					src='https://www.youtube.com/embed/{{this.key}}?rel=0'
				>
				</iframe> --}}
			</div>
		{{/if}}
	{{/each}}
</div>



<div class='row'>
	<div class='col-sm-12'>
		{{#if movie.opinions.all.reviews.count}}
			<h2>Reviews</h2>
		{{/if}}

		{{#each movie.opinions.all.reviews.entries}}
			{{> review-item}}
		{{/each}}
	</div>
</div>
