<link
	rel='stylesheet'
	href='css/pages/movies-index.css'
/>

<div class='movies-index'>
	<h1>{{option}}</h1>

	{{#with movieList.results as |movies|}}
		<div class='movies-list'>
			{{#each movies as |movie|}}
				{{> movies-index/movie-card movie=movie}}
			{{/each}}
		</div>
	{{/with}}

</div>

<script
	type='text/javascript'
	src='/js/pages/movies-index.js'
></script>
