{{!--
	moviesList: an object of movie data, including results.
	config: api config information.
	selection: user input string.
--}}

<link
	rel='stylesheet'
	href='/css/partials/movie-card.css'
/>

<div class='movies-index'>

	<h1>{{selection}}</h1>

	<div class='movies-list'>
		{{#each movieList.results as |movie|}}
		{{> movie-card
			movie=movie
			config=../config
			complete=false
		}}
		{{/each}}
	</div>

</div>

<script
	type='text/javascript'
	src='/js/pages/movies-index.js'
></script>
