<div class='movies-index'>
	<h1>{{option}}</h1>

	{{#with movieList.results as |movies|}}
		<ul class='movies-list'>
			{{#each movies as |movie|}}
				<li>{{> movies-index-item movie=movie}}</li>
			{{/each}}
		</ul>
	{{/with}}

</div>

<script
	type='text/javascript'
	src='/js/movies-index.js'
></script>
