<h1>Reviews</h1>

<div class="row">

	<h2>
		<ul>
		{{#each movies}}
			<li>
				<a href="/movies/:id">
					{{this.title}}
				</a>
				<p>
					<img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" />
				</p>
			</li>
		{{/each}}
		</h2>
	</ul>
</div>