<div class='movies-index'>
	<h1>{{option}}</h1>

	{{#with movieList.results as |movies|}}
		<ul class='movies-list'>

			{{#each movies as |movie|}}
				<li>
					<article class='movie-info'>

						{{!-- GROUP 1: Movie Poster --}}
						<a
							class='movie-poster'
							href='/movies/{{movie.id}}'
						>
							<img src='https://image.tmdb.org/t/p/w500/{{movie.poster_path}}' />
							<p class='more-info'>More Info</p>
						</a>

						{{!-- GROUP 2: Movie Info --}}
						<div class='movie-content'>

								{{!-- GROUP 2-A: Movie Title --}}
								<h2 class='movie-title'>
									{{movie.title}}
									<hr />
								</h2>

								{{!-- GROUP 2-B: Movie Details --}}
								<div class='movie-details unclicked'>
									<section>
										<h3>Details</h3>
										<p>Lorem Ipsum</p>
									</section>
								</div>

						</div>

					</article>
				</li>
			{{/each}}

		</ul>
	{{/with}}

</div>


<script
	type='text/javascript'
	src='/js/videos.js'
></script>
