<!-- views/reviews-new.handlebars -->
<form method="POST" action="/reviews">
	{{> reviews-form}}
	<p>
		<button type="submit">Save Review</button>
		<button type="button" onclick="window.location.href='/'">Back to Home</button>
	</p>
</form>
