<link
	rel='stylesheet'
	href='/css/partials/review-card.css'
/>

{{> review-card
	movie=movie
	review=review
	config=config
	complete=true
}}

<hr />

{{> comment-form}}

<hr />

<div id='comments'>
	{{#each comments}}
		{{> comment-card}}
	{{/each}}
</div>

<script
	type='text/javascript'
	src='/js/comments.js'
></script>
