<!-- views/reviews-edit.handlebars -->
<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
	{{> reviews-form}}
	<p>
		<button type="submit">Save Review</button>
		<button type="button" onclick="window.location.href='/'">Back to Home</button>
	</p>
</form>
