{{!-- Reviews New (Show Form) --}}
{{!-- Goals:
	- Show the reviews form
	- Do not provide any review data to pass in, since there is none!
	- Provide the movie info to pass in
--}}
{{!-- Variables:
	movie: the movie to use.
--}}

<h1>Create a Review</h1>
{{> review-form
	movie=movie
}}
