<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
	{{> reviews-form}}
	<!-- BUTTON -->
	<p>
		<button type="submit">Save Review</button>
		<button onclick="location.href='http://www.example.com" type="button">Cancel</button>
	</p>
</form>
