<!--
	Edit a Review (Show Form)
	views/reviews-edit.hbs
--->

<!--
	Goals:
	- Show the reviews form
	- Provide the review data to pass in to update
	- Provide the movie info to pass in
--->

<!--
	Variables:
	- movie (the movie that the review refers to)
	- review (the existant review that we want to edit)
--->

<h1>Edit a Review</h1>
{{> review-form movie=movie review=review}}
