<link
	rel='stylesheet'
	href='/css/partials/review-card.css'
/>


<h1>Show Review Details</h1>
<div class='review-details'>
	{{> review-card
		movie=movie
		review=review
		config=config
		complete=true
	}}

	<div id='comments'>
		{{#each comments}}
			{{> comment-card}}
		{{/each}}
	</div>

	<hr />

	{{> comment-form}}

</div>

<script
	type='text/javascript'
	src='/js/comments.js'
></script>
