// Make a pseudo-list type object to fit styling.
div.movies-list {
	// Flexbox container settings
	display: grid;
	justify-items: left;
	justify-content: center;

	// number of columns
	grid-template-columns: repeat(auto-fit, var(--movie-width));
	width: var(--list-width);
	gap: var(--grid-gap);
}
