// A Title Bar represents a sidebar-styled title of a movie.
// It sticks on the right-hand side of a movie-card, and
// 	has content that scrolls up and down if it doesn't fit.
//
// A Title Bar will always have this basic content:
// - the title
//
// Sometimes, it can be a clickable button, or show a
// 	translated movie as its sub-title (for native speakers).
// You might see these under special circumstances.
// - a sub-title / translated title
// - a pseudo-button

.title-bar {
	/* BOX MODEL */
	// DIMENSIONS //
	width: var(--title-width);
	height: 100%;

	// PROPERTIES //
	// ...

	// AESTHETICS //
	background-color: #888;
	border-top-right-radius: calc(var(--movie-padding) * 2);
	border-bottom-right-radius: calc(var(--movie-padding) * 2);

	/* TEXTUAL STYLING */
	.content {
		// TEXT DIRECTIONS //
		writing-mode: vertical-rl;
		text-orientation: mixed;

		// LINE SPACING //
		.title {
			margin: 0;
			margin-right: calc(1em / 4);
		}
		.subtitle {
			margin: 0;
			margin-right: calc(-1em / 8);
		}
	}

	/* ARRANGE CONTENT */
	// FLEX BOX //
	display: flex;
	flex-direction: column;
	justify-items: center;
	.content {
		flex-grow: 1;
		align-self: flex-end;
	}
	.pseudo-button {
		align-self: center;
	}

	/* STYLISH SUBCOMPONENT */
	.pseudo-button {
		width: 4rem;
		height: 4rem;
		margin: 1rem;
		border-radius: 50%;
		background-color: green;
	}
}


button.title-bar {
	&:hover,
	&:focus {
		background-color: #AAA;
		.pseudo-button {
			background-color:yellowgreen;
		}
	}

	&:active {
		background-color: #666;
		.pseudo-button {
			background-color:teal;
		}
	}
}
