<section class='details'>
	<h3>Movie Details</h3>
	<div class='intro'>
		{{!-- Public Reception --}}
		{{> movie-card/ratings-summary}}
		{{!-- Overview --}}
		{{> movie-card/plot-overview}}
	</div>



	<div class='lists'>
		{{!-- Factoids --}}
		{{> movie-card/list-factoids}}
		{{!-- Genres --}}
		{{> movie-card/list-genres}}
	</div>



	<div class='media'>
		{{!-- Main Trailer --}}
		{{> movie-card/feature-video}}
	</div>
</section>
