<div class='list-media'>
	<h3>Posters</h3>
	<div class='inline-list'>
	{{#each movie.posters as |poster|}}
		{{> components/portal
			classes='small content poster'
			anchor_path=poster.sizes.[0].urls.main
			image_path=poster.sizes.[5].urls.main
			portal_text='View Full Image'
		}}
	{{/each}}
	</div>

	<h3>Backdrops</h3>
	<div class='inline-list'>
	{{#each movie.backdrops as |backdrop|}}{{#if backdrop}}
		{{> components/portal
			classes='small content backdrop'
			anchor_path=backdrop.sizes.[0].urls.main
			image_path=backdrop.sizes.[3].urls.main
			portal_text='View Full Image'
		}}
	{{/if}}{{/each}}
	</div>

	<h3>Videos</h3>
	<div class='inline-list'>
	{{#each movie.videos as |video|}}{{#if video}}
		{{> components/portal
			classes='small content thumbnail'
			anchor_path=video.urls.main
			image_path=video.thumbnail.sizes.[1].urls.main
			portal_text='View Trailer'
		}}
	{{/if}}{{/each}}
	</div>
</div>
