<div class='list-media'>
	<h3>Posters</h3>
	<div class='inline-list'>
	{{#each movie.posters as |poster|}}
		{{> components/portal
			classes='small content poster'
			anchor_path=(join (join ../config.images.secure_base_url 'original') poster.file_path)
			image_path=(join (join ../config.images.secure_base_url 'w154') poster.file_path)
			portal_text='View Full Image'
		}}
	{{/each}}
	</div>

	<h3>Backdrops</h3>
	<div class='inline-list'>
	{{#each movie.backdrops as |backdrop|}}
		{{> components/portal
			classes='small content backdrop'
			anchor_path=(join (join ../config.images.secure_base_url 'original') backdrop.file_path)
			image_path=(join (join ../config.images.secure_base_url 'w300') backdrop.file_path)
			portal_text='View Full Image'
		}}
	{{/each}}
	</div>

	<h3>Videos</h3>
	<div class='inline-list'>
	{{#each movie.videos as |video|}}
		{{> components/portal
			classes='small content thumbnail'
			anchor_path=(join 'https://www.youtube.com/watch?v=' video.key)
			image_path=(join (join 'https://img.youtube.com/vi/' video.key) '/sddefault.jpg')
			portal_text='View Trailer'
		}}
	{{/each}}
	</div>
</div>
