<div class='media-lists'>
	<h3>Posters</h3>
	<div class='inline-list'>
	{{#each movie.posters as |poster|}}
		{{> components/portals/poster
			classes='small poster'
			anchor_path=(join (join ../config.images.secure_base_url 'original') poster.file_path)
			image_path=poster.file_path
			portal_text='View Full Image'
		}}
	{{/each}}
	</div>

	<h3>Backdrops</h3>
	<div class='inline-list'>
	{{#each movie.backdrops as |backdrop|}}
		{{> components/portals/backdrop
			classes='small backdrop'
			anchor_path=(join (join ../config.images.secure_base_url 'original') backdrop.file_path)
			image_path=backdrop.file_path
			portal_text='View Full Image'
		}}
	{{/each}}
	</div>
</div>
