<div>
	{{!-- Public Reception --}}
	{{> movie-components/ratings-summary}}
	{{!-- Overview --}}
	{{> movie-components/plot-overview}}
</div>



<div>
	{{!-- Factoids --}}
	{{> movie-components/list-factoids}}
	{{!-- Genres --}}
	{{> movie-components/list-genres}}
</div>



<div>
	{{!-- Main Trailer --}}
	{{> movie-components/feature-video}}
</div>
