<article
	class='movie'
	data-movie-id='{{movie.api_id}}'
>

	{{> components/feature-poster linked=true}}

	<section class='details'>
		<h3>Movie Details</h3>
		{{> movies-index/movie-details}}
	</section>

	<button class='title'>
		<div>
			<h2>{{movie.title}}</h2>
			<p>Show Movie Details</p>
		</div>
	</button>

</article>
