@use 'movies-index/movie-card';
@use 'movies-index/movie-details';

// A Movie List is, well, a list!
div.movies-list {
	// Override ul behavior
	list-style-type: none;
	margin: 0 auto;
	padding: 0;

	// Flexbox container settings
	display: grid;
	justify-items: left;
	justify-content: center;

	// number of columns
	grid-template-columns: repeat(auto-fit, var(--movie-width));
	width: var(--list-width);
	gap: 2rem;
}
