// A Movie List is, well, a list!
ul.movies-list {
	// Override ul behavior
	list-style-type: none;
	margin: 0;
	padding: 0;

	// Flexbox container settings
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

	// Benign children have fit-content
	> li {
		width: fit-content;
		height: fit-content;
	}
}
