@use 'movies-index/movie-card';
@use 'movies-index/movie-details';

// Make a pseudo-list type object to fit styling.
div.movies-list {
	// Flexbox container settings
	display: grid;
	justify-items: left;
	justify-content: center;

	// number of columns
	grid-template-columns: repeat(auto-fit, var(--movie-width));
	width: var(--list-width);
	gap: var(--grid-gap);
}

// A Movie Item starts with an article tag.
article.movie {
	grid-column: 1 / -1;

	.poster {
		border-bottom-left-radius: initial;
	}

	.title {
		background-color: #AAA;
		border-bottom-right-radius: initial;
	}

	.details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-bottom-left-radius: calc(var(--movie-padding) * 2);
		border-bottom-right-radius: calc(var(--movie-padding) * 2);
	}

}

// 	// style title-button
// 	.title {
// 		width: var(--title-width);
// 		height: 100%;

// 		// text style
// 		writing-mode: vertical-rl;
// 		text-orientation: mixed;

// 		// other properties
// 		background-color: #888;
// 		border-top-right-radius: calc(var(--movie-padding) * 2);
// 		border-bottom-right-radius: calc(var(--movie-padding) * 2);

// 		// fix for chrome: add this div.
// 		> div {
// 			writing-mode: vertical-rl;
// 			text-orientation: mixed;
// 		}

// 		h2 {
// 			margin: 0;
// 		}

// 		p {
// 			font-style: inherit;
// 			margin: 0;
// 			padding: 0.5rem;
// 		}

// 		&:hover,
// 		&:focus {
// 			background-color: #AAA
// 		}

// 		&:active {
// 			background-color: #666
// 		}
// 	}


// article.movie.activated {
// 	grid-column: span 2;

// 	@media (max-width: 1327px) {
// 		.poster {
// 			border-bottom-left-radius: initial;
// 		}
// 		.title {
// 			border-bottom-right-radius: initial;
// 		}
// 		.details {
// 			border-bottom-left-radius: calc(var(--movie-padding) * 2);
// 			border-bottom-right-radius: calc(var(--movie-padding) * 2);
// 		}
// 		grid-column: initial;
// 		grid-row: span 2;
// 	}
// }
