<section class='details'>
<h3>Movie Details</h3>
<div>
	{{!-- Public Reception --}}
	{{> components/ratings-summary}}
	{{!-- Overview --}}
	{{> components/plot-overview}}
</div>



<div>
	{{!-- Factoids --}}
	{{> components/list-factoids}}
	{{!-- Genres --}}
	{{> components/list-genres}}
</div>



<div>
	{{!-- Main Trailer --}}
	{{> movie/feature-video}}
</div>
</section>
