{{!-- Plot Overview & Tagline --}}
<dl class='contain-overview'>

	{{#if movie.tagline}}
		<div class='show-tagline'>
			<dt>Tagline</dt>
			<dd><h3>{{movie.tagline}}</h3></dd>
		</div>
	{{/if}}

	{{#if movie.overview}}
		<div class='show-overview'>
			<dt>Overview</dt>
			<dd><p>{{movie.overview}}</p></dd>
		</div>
	{{/if}}

</dl>
